DATABASE_URL=postgresql://user:password@localhost:5432/bugtracker
JWT_SECRET=a4921cc336a471cfb65e8d44789f876a36bfa109925e804d354314e5074c65c8
PORT=3000

SMTP_HOST=smtp.yandex.ru
SMTP_USER=mail@yandex.ru
SMTP_PASS=password
SMTP_PORT=465

FRONTEND_URL=http://localhost:5173
